{% extends 'layout.twig' %}

{% block content %}

	<div class="catalog">
		<!-- хлебные крошки -->
		<div class="breadcrumbs">
			<a href="{{ path('main') }}">Магазин</a>
			<p>{{ category.title }}</p>
		</div>
		<div class="row clearfix">
			<!-- элементы каталога -->
			{% for product in products|slice(page.start, page.lenght) %}
					<div class="item-block column column4">
						<a href="{{ path('show_product', {id: product.id}) }}" class="item">
							<img src="/img/items/{{ product.img_path }}" alt="уточка">
						</a>			
						<a href="{{ path('add_to_cart', {product_id: product.id}) }}" class="btn-basket">В Корзину</a>
					</div>
			{% else %}
				<p>Нет товаров в этой категории</p>
			{% endfor %}
		</div>
		<div>
			{% if products %}
				Страницы: 
				{% for p in page.numbers %}
					<a 
						{% if p == page.current %} 
							style="color:red"
						{% endif %}
						href="{{ path('show_category', {id: categoryId}) }}?page={{ p }}">{{ p }}
					</a>
				{% endfor %}
			{% endif %}
		</div>
	</div>

{% endblock %}