<!DOCTYPE html>
<html lang="en">
<head>
  	<meta charset="UTF-8">
  	<title>Yellow Duck</title>
  	<link href="/css/normalize.css" rel="stylesheet">
  	<link href="/css/style.css" rel="stylesheet">
</head>
<body>
{{ render(url('header')) }}
<main>
	<div class="container">
		<div class="banner"></div>
		<div class="row clearfix">
			<!-- боковое меню -->
			<aside class="column column3">
				<h2>Каталог</h2>
				<ul>
					<li><a href="{{ path('show_category', {id: 1}) }}">Какие-то уточки</a></li>
					<li><a href="{{ path('show_category', {id: 2}) }}">Утки с моторчиком</a></li>
					<li><a href="{{ path('show_category', {id: 3}) }}">Подводные уточки</a></li>
					<li><a href="{{ path('show_category', {id: 4}) }}">Уточки ручной работы</a></li>
					<li><a href="{{ path('show_category', {id: 5}) }}">Говорящие уточки</a></li>
				</ul>
			</aside>
			<div class="column column9">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
</main>
<footer>
	<div class="container">
		<p> © Epic Skills</p>
	</div>
</footer>